$bgColorInlineBlock: linear-gradient(90.64deg, #A0C500 -2.66%, #71A742 103.82%);
$bgColorBlock: #a2c600;
$linkPageColor: #333333;
$positionTopBeforeNutritionProgram: -91px;
$dotsColor: rgba(162, 198, 0, 0.27);
$colorYellow: #CFCF29;
@mixin activateVerticalTab($NumVerticalTab, $numDayInVerticalTab){
  #tab-vertical-#{$NumVerticalTab}-#{$numDayInVerticalTab}:checked ~ .tabs-vertical__buttons .tabs-vertical-button-#{$NumVerticalTab}-#{$numDayInVerticalTab} {
    background: $bgColorInlineBlock;
    color: white;
  }

  #tab-vertical-#{$NumVerticalTab}-#{$numDayInVerticalTab}:checked ~ .tabs-vertical__content .content-flex-images-#{$NumVerticalTab}-#{$numDayInVerticalTab} {
    display: grid;
  }
}

a:active, a:focus { outline: 0; }

:focus {outline:0;}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Rounded Elegance';
  font-size: 1rem;
  color: white;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  @media (max-width: 1024px) {
    padding: 0 15px;
  }
}

.link {
  line-height: 19px;

  &-underline {
    text-decoration-line: underline;
  }
}

.icon {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 31px;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: "Avenir Next";
  font-weight: bold;
  font-size: calc(2rem + 4px);
  font-weight: bold;
  margin: 0;
}

.btn {
  border-radius: 60px;
  border: 0;
  font-size: calc(1rem + 2px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo{
  &-callback{
    padding: 20px 5px 0 5px;
  }
  &-instagram{
    &:after{

    }
  }
}

.textHover{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 20px 0 20px;
  opacity: 0;
  transition: all .3s;
  p{
    text-align: center;
  }
  span{
    text-align: center;
  }
}

.subtitle {
  font-size: 24px;

  &-description {
    font-size: calc(1rem - 2px);
  }

  &-weight {
    &-normal {
      font-weight: normal;
    }

    &-bold {
      font-weight: bold;
    }
  }

}

.title-black {
  color: black;
}

.rounded {
  border-radius: 30px;

  &-grey {
    border: 0.5px solid #B8B8B8;
    border-radius: 30px;
  }
}

// Стили для табов
.tabs {
  &-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 367px) minmax(0, 751px);
    grid-column-gap: 20px;
    position: relative;
  }

  &__buttons {
    display: grid;
    grid-template-rows: repeat(5, 108px);
    grid-row-gap: 10px;
    color: white;
  }

  &__tab {
    border-bottom: 0.5px solid #FFFFFF;
    margin-top: 7px;
    margin-left: 23px;
  }

  &__description {
    padding-top: 9px;
    margin: 0;
    text-align: center;
    max-width: 355px;
  }

  &__content {
    padding: 24px 47px;
  }
}

.tab {
  font-size: calc(1rem + 2px);
  cursor: pointer;
}

.content {
  display: none;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.soft-green {
  color: $bgColorBlock;
}

#tab-1:checked ~ .tabs__buttons .tab-1 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 108px;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-1:checked ~ .tabs__content .content-1 {
  display: block;
}

#tab-2:checked ~ .tabs__buttons .tab-2 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }

}

#tab-2:checked ~ .tabs__content .content-2 {
  display: block;
}

#tab-3:checked ~ .tabs__buttons .tab-3 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-3:checked ~ .tabs__content .content-3 {
  display: block;
}

#tab-4:checked ~ .tabs__buttons .tab-4 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-4:checked ~ .tabs__content .content-4 {
  display: block;
}

#tab-5:checked ~ .tabs__buttons .tab-5 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-5:checked ~ .tabs__content .content-5 {
  display: block;
}

.cart-options {
  background: $bgColorInlineBlock;
  &:before {
    color: $bgColorBlock;
    content: '';
    background-color: white;
    padding: 6px 30px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 40px;
    position: relative;
    border: 0.5px solid #a2c600;
    left: -24px;
    top: -1px;
    display: inline-block;
    width: 86px;
  }

  &:nth-child(1):before {
    content: '900 ккал';
  }

  &:nth-child(2):before {
    content: '1200 ккал';
  }

  &:nth-child(3):before {
    content: '1500 ккал';
  }

  &:nth-child(4):before {
    content: '2000 ккал';
  }

  &:nth-child(5):before {
    content: 'DETOX';
  }
}

// вертикальные табы

.tabs-vertical {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(7, 28px);
    grid-template-rows: repeat(1, 28px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    &:after {
      content: '(Примерное меню)';
      font-size: 1em;
      position: relative;
      left: 50px;
      display: block;
      width: max-content;
    }
  }

  &-button {
    cursor: pointer;
    font-size: calc(1rem - 2px);
    color: $linkPageColor;
    height: 28px;
    display: flex;
    justify-content: center;
    padding-top: 7px;
  }
  &__button{
    width: 136px;
    height: 42px;
  }
}

.upHoverBlock {
  position: relative;
  img{
    width: 97px;
    height: 132px;
    transition: .3s ease;
  }
  &:hover{
    & img {
      width: 128px;
      height: 174px;
      transition: .3s ease;
    }
    &:after{
      content: 'Обед';
      position: absolute;
      left: 0;
      bottom: 1px;
      right: 0;
      background: rgba(6, 60, 0, 0.5);
      border-radius: 0px 0px 20px 20px;
      color: white;
      padding-top: 4px;
    }
  }


  img {
    display: block;
  }

}

.tab {
  &-rounded {
    &-button {
      border-color: $bgColorBlock;
      color: $bgColorBlock;
    }
  }
}

.content {
  &-flex {
    &-images {
      display: none;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(1, 132px);
      padding-bottom: 52px;
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      padding-top: 30px;
    }
  }
}
// Активация вертикальный табов в первой вкладке табов в программе питания
@include activateVerticalTab(1, 1);
@include activateVerticalTab(1, 2);
@include activateVerticalTab(1, 3);
@include activateVerticalTab(1, 4);
@include activateVerticalTab(1, 5);
@include activateVerticalTab(1, 6);
@include activateVerticalTab(1, 7);

// Активация вертикальный табов в второй вкладке табов в программе питания
@include activateVerticalTab(2, 1);
@include activateVerticalTab(2, 2);
@include activateVerticalTab(2, 3);
@include activateVerticalTab(2, 4);
@include activateVerticalTab(2, 5);
@include activateVerticalTab(2, 6);
@include activateVerticalTab(2, 7);

// Активация вертикальный табов в третьей вкладке табов в программе питания
@include activateVerticalTab(3, 1);
@include activateVerticalTab(3, 2);
@include activateVerticalTab(3, 3);
@include activateVerticalTab(3, 4);
@include activateVerticalTab(3, 5);
@include activateVerticalTab(3, 6);
@include activateVerticalTab(3, 7);
// Активация вертикальный табов в третьей вкладке табов в программе питания
@include activateVerticalTab(4, 1);
@include activateVerticalTab(4, 2);
@include activateVerticalTab(4, 3);
@include activateVerticalTab(4, 4);
@include activateVerticalTab(4, 5);
@include activateVerticalTab(4, 6);
@include activateVerticalTab(4, 7);
// Активация вертикальный табов в третьей вкладке табов в программе питания
@include activateVerticalTab(5, 1);
@include activateVerticalTab(5, 2);
@include activateVerticalTab(5, 3);
@include activateVerticalTab(5, 4);
@include activateVerticalTab(5, 5);
@include activateVerticalTab(5, 6);
@include activateVerticalTab(5, 7);
// Активация вертикальный табов в третьей вкладке табов в программе питания
@include activateVerticalTab(6, 1);
@include activateVerticalTab(6, 2);
@include activateVerticalTab(6, 3);
@include activateVerticalTab(6, 4);
@include activateVerticalTab(6, 5);
@include activateVerticalTab(6, 6);
@include activateVerticalTab(6, 7);
// Активация вертикальный табов в третьей вкладке табов в программе питания
@include activateVerticalTab(7, 1);
@include activateVerticalTab(7, 2);
@include activateVerticalTab(7, 3);
@include activateVerticalTab(7, 4);
@include activateVerticalTab(7, 5);
@include activateVerticalTab(7, 6);
@include activateVerticalTab(7, 7);


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.select {
  width: 246px;
  position: relative;
}
//
//.select-wrap {
//  max-width: 700px;
//  width: 100%;
//  margin: 20px auto;
//}
//
//.select-wrap select {
//  margin: 20px;
//}
//
.select__gap {
  border-radius: 20px;
  border: 1px solid #A2C600;
  color: $bgColorBlock;
  padding: 10px 47px 10px 15px;
  position: relative;
  cursor: pointer;
  &:after {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    margin-top: -3px;
    height: 1px;
    width: 10px;
    background-color: $bgColorBlock;
    transform: rotate(-45deg);
  }
  &:before{
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
    height: 1px;
    width: 10px;
    background-color: $bgColorBlock;
    transform: rotate(45deg);
  }
}
.select__list {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 22px 15px 10px 18px;
  width: 246px;
  margin: 0 auto;
  position: absolute;
  top: 50px;
}
.select__item {
  cursor: pointer;
  font-size: 1em;
  line-height: 24px;
  &.active{
    background: url("../assets/img/various/needle.svg") no-repeat;
  }
}

.gradientButtonGreen{
  background: $bgColorInlineBlock;
  color: white;
}

input.input-form{
  border-radius: 20px;
  border: 1px solid $bgColorBlock;
}

.slick-slider .slick-dots{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  & li{
    button{
      font-size: 0;
      width: 14px;
      height: 14px;
      background-color: $dotsColor;
      border-radius: 50px;
      border: 0;
    }
    &.slick-active button{
      background-color: $bgColorBlock;
    }
    &:nth-child(1){
      margin-right: 30px;
    }
  }
}

.article{
  color: black;
  &__title{
    font-size: calc(1em + 2px);
  }
  &__description{
    line-height: 22px;
    text-align: justify;
    text-align-last: left;
  }
  &__subtitle{
    margin: 35px 0 20px;
  }
}

.date{
  color: $colorYellow;
}

.href{
  color: $colorYellow;
}

.scroll{
  top: 0;
  box-shadow: 0px 3px 6px -4px rgba(34, 60, 80, 0.33);
}

@keyframes animateOpenModal {
  0%{
    opacity: 0;
    display: none;
    top: -500px;
  }
  100%{
    opacity: 1;
    display: block;
    top: 200px;
  }
}

.form{
  &-wrapper{
    &-all{
      display: none;
      opacity: 0;
      height: 100vh;
      width: 100vw;
      position: fixed;
      left: 0;
      right: 0;
      top: 0  ;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 2;
      &-prob{
        .form-modal{
          grid-template-rows: 100px repeat(3, 43px) 26px;
        }
      }
    }
  }
  div &-modal{
    grid-template-rows: 70px repeat(3, 43px) 26px;
    animation: animateOpenModal .3s ease;
    max-width: 426px;
    margin: auto;
    position: fixed;
    left: 0;
    top: 200px;
    right: 0;
    background: white;
    .form-modal__subtext{
      width: auto;
    }
  }
}

.close-button{
  position: absolute;
  right: 42px;
  top: 25px;
  font-size: 31px;
  color: white;
  cursor: pointer;
}

.active{
  &-modal{
    display: block;
    opacity: 1;
  }
}

.needle{
  &:before, &:after{
    content: '';
    display: inline-block;
    height: 2px;
    width: 9px;
    background-color: $bgColorBlock;

  }
  &:before{
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg) translate(-1px, -2px);
  }
  &-active{
    &:after, &:before{
      transform: rotate(45deg);
    }
  }
}