$bgColorInlineBlock: linear-gradient(90.64deg, #A0C500 -2.66%, #71A742 103.82%);
$bgColorBlock: #a2c600;
$linkPageColor: #333333;
$positionTopBeforeNutritionProgram: -122px;
* {
  box-sizing: border-box;
}

body {
  font-family: 'Rounded Elegance';
  font-size: 1rem;
  color: white;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  line-height: 19px;

  &-underline {
    text-decoration-line: underline;
  }
}

.icon {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: calc(2rem + 4px);
  font-weight: bold;
}

.btn {
  border-radius: 60px;
  border: 0;
  font-size: calc(1rem + 2px);
  cursor: pointer;
}

.subtitle {
  font-size: 24px;

  &-description {
    font-size: calc(1rem - 2px);
  }

  &-weight {
    &-normal {
      font-weight: normal;
    }

    &-bold {
      font-weight: bold;
    }
  }

}

.title-black {
  color: black;
}

.rounded {
  border-radius: 30px;

  &-grey {
    border: 0.5px solid #B8B8B8;
    border-radius: 30px;
  }
}

// Стили для табов
.tabs {
  &-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 367px) minmax(0, 751px);
    grid-column-gap: 20px;
    position: relative;
  }

  &__buttons {
    display: grid;
    grid-template-rows: repeat(5, 108px);
    grid-row-gap: 10px;
    color: white;
  }

  &__tab {
    border-bottom: 0.5px solid #FFFFFF;
    margin-top: 7px;
    margin-left: 23px;
  }

  &__description {
    padding: 15px 16px;
    margin: 0;
    text-align: center;
    max-width: 355px;
  }

  &__content {
    padding: 24px 67px;
  }
}

.tab {
  font-size: calc(1rem + 2px);
}

.content {
  display: none;
}

.input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.soft-green {
  color: $bgColorBlock;
}

#tab-1:checked ~ .tabs__buttons .tab-1 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 108px;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-1:checked ~ .tabs__content .content-1 {
  display: block;
}

#tab-2:checked ~ .tabs__buttons .tab-2 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }

}

#tab-2:checked ~ .tabs__content .content-2 {
  display: block;
}

#tab-3:checked ~ .tabs__buttons .tab-3 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-3:checked ~ .tabs__content .content-3 {
  display: block;
}

#tab-4:checked ~ .tabs__buttons .tab-4 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-4:checked ~ .tabs__content .content-4 {
  display: block;
}

#tab-5:checked ~ .tabs__buttons .tab-5 {
  background: white;
  color: $bgColorBlock;

  &:after {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    background-color: $bgColorBlock;
    position: relative;
    z-index: 1;
    left: -11px;
    top: $positionTopBeforeNutritionProgram;
  }

  &:before {
    background: $bgColorBlock;
    color: white;
  }
}

#tab-5:checked ~ .tabs__content .content-5 {
  display: block;
}

.cart-options {
  background: $bgColorInlineBlock;
  padding-top: 9px;

  &:before {
    color: $bgColorBlock;
    content: '';
    background-color: white;
    padding: 6px 30px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 40px;
    position: relative;
    border: 0.5px solid #a2c600;
    left: -24px;
    top: -10px;
    display: inline-block;
    width: 86px;
  }

  &:nth-child(1):before {
    content: '900 ккал';
  }

  &:nth-child(2):before {
    content: '1200 ккал';
  }

  &:nth-child(3):before {
    content: '1500 ккал';
  }

  &:nth-child(4):before {
    content: '2000 ккал';
  }

  &:nth-child(5):before {
    content: 'DETOX';
  }
}

// вертикальные табы

.tabs-vertical {
  &__buttons {
    display: grid;
    grid-template-columns: repeat(7, 28px);
    grid-template-rows: repeat(1, 28px);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;

    &:after {
      content: '(Примерное меню)';
      font-size: 1em;
      position: relative;
      left: 50px;
      display: block;
      width: max-content;
    }
  }

  &-button {
    font-size: calc(1rem - 2px);
    color: $linkPageColor;
    height: 28px;
    display: flex;
    justify-content: center;
    padding-top: 7px;
  }
}

.upHoverBlock {
  position: relative;
  &:hover{
    & img {
      width: 128px;
      height: 174px;
    }
    &:after{
      content: 'Обед';
      position: absolute;
      left: 0;
      bottom: 1px;
      right: 0;
      background: rgba(6, 60, 0, 0.5);
      border-radius: 0px 0px 20px 20px;
      color: white;
      padding-top: 4px;
    }
  }


  img {
    display: block;
  }

}

.tab {
  &-rounded {
    &-button {
      border-color: $bgColorBlock;
      color: $bgColorBlock;
    }
  }
}

.content {
  &-flex {
    &-images {
      display: none;
      grid-template-columns: repeat(5, auto);
      grid-template-rows: repeat(1, 174px);
      justify-content: center;
      align-items: center;
      grid-gap: 10px;
      padding-top: 30px;
    }
  }
}

//Активация 1-го вертикального таба

#tab-vertical-1:checked ~ .tabs-vertical__buttons .tabs-vertical-button-1 {
  background: $bgColorInlineBlock;
  color: white;
}

#tab-vertical-1:checked ~ .tabs-vertical__content .content-flex-images-1 {
  display: grid;
}

//Активация 2-го вертикального таба

#tab-vertical-2:checked ~ .tabs-vertical__buttons .tabs-vertical-button-2 {
  background: $bgColorInlineBlock;
  color: white;
}

#tab-vertical-2:checked ~ .tabs-vertical__content .content-flex-images-2 {
  display: grid;
}

//Активация 3-го вертикального таба

#tab-vertical-3:checked ~ .tabs-vertical__buttons .tabs-vertical-button-3 {
  background: $bgColorInlineBlock;
  color: white;
}

#tab-vertical-3:checked ~ .tabs-vertical__content .content-flex-images-3 {
  display: grid;
}

//Активация 4-го вертикального таба

#tab-vertical-4:checked ~ .tabs-vertical__buttons .tabs-vertical-button-4 {
  background: $bgColorInlineBlock;
  color: white;
}

#tab-vertical-4:checked ~ .tabs-vertical__content .content-flex-images-4 {
  display: grid;
}

//Активация 5-го вертикального таба

#tab-vertical-5:checked ~ .tabs-vertical__buttons .tabs-vertical-button-5 {
  background: $bgColorInlineBlock;
  color: white;
}

#tab-vertical-5:checked ~ .tabs-vertical__content .content-flex-images-5 {
  display: grid;
}

//Активация 6-го вертикального таба

#tab-vertical-6:checked ~ .tabs-vertical__buttons .tabs-vertical-button-6 {
  background: $bgColorInlineBlock;
  color: white;
}

#tab-vertical-6:checked ~ .tabs-vertical__content .content-flex-images-6 {
  display: grid;
}

//Активация 7-го вертикального таба

#tab-vertical-7:checked ~ .tabs-vertical__buttons .tabs-vertical-button-7 {
  background: $bgColorInlineBlock;
  color: white;
}

#tab-vertical-7:checked ~ .tabs-vertical__content .content-flex-images-7 {
  display: grid;
}

// Стилизация select

//.select{
//  position: relative;
//  &:after {
//    content: "";
//    display: block;
//    pointer-events: none;
//    position: absolute;
//    top: 50%;
//    right: 10px;
//    z-index: 1;
//    margin-top: -3px;
//    height: 1px;
//    width: 10px;
//    background-color: $bgColorBlock;
//    transform: rotate(-45deg);
//  }
//  &:before{
//    content: "";
//    display: block;
//    pointer-events: none;
//    position: absolute;
//    top: 50%;
//    right: 1rem;
//    z-index: 1;
//    margin-top: -3px;
//    height: 1px;
//    width: 10px;
//    background-color: $bgColorBlock;
//    transform: rotate(45deg);
//  }
//  & select {
//    display: block;
//    width: 100%; /* от ширины блока div */
//    padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
//    background: none; /* убираем фон */
//    border: 1px solid #ccc; /* рамка */
//    border-radius: 3px;/* скругление полей формы */
//    -webkit-appearance: none;/* Chrome */
//    -moz-appearance: none;/* Firefox */
//    appearance: none;/* убираем дефолнтные стрелочки */
//    font-family: inherit;/* наследует от родителя */
//    font-size: 1rem;
//    color: #444;
//    border: 1px solid #A2C600;
//    box-sizing: border-box;
//    border-radius: 20px;
//    color: $bgColorBlock;
//  }
//}


ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.select {
  width: 246px;
}
//
//.select-wrap {
//  max-width: 700px;
//  width: 100%;
//  margin: 20px auto;
//}
//
//.select-wrap select {
//  margin: 20px;
//}
//
.select__gap {
  border-radius: 20px;
  border: 1px solid #A2C600;
  color: $bgColorBlock;
  padding: 10px 47px 10px 15px;
  position: relative;
  &:after {
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    margin-top: -3px;
    height: 1px;
    width: 10px;
    background-color: $bgColorBlock;
    transform: rotate(-45deg);
  }
  &:before{
    content: "";
    display: block;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    z-index: 1;
    margin-top: -3px;
    height: 1px;
    width: 10px;
    background-color: $bgColorBlock;
    transform: rotate(45deg);
  }
}
//
//.on.select__gap,
//.select__gap:hover {
//  color: #467797;
//}
//
.select__list {
  background: #FFFFFF;
  border-radius: 15px;
  padding: 22px 15px 10px 15px;
}
//
//.select__list.on {
//  display: block;
//}
//
.select__item.active {
  background: url("../assets/img/various/needle.svg") no-repeat;
}
//
//.select__item.selected,
//.select__item span:hover {
//  color: #467797;
//}
//
//.select__gap:after {
//  content: '';
//  display: block;
//  width: 10px;
//  height: 10px;
//  position: absolute;
//  right: 15px;
//  top: 50%;
//  margin-top: -7px;
//  border-left: 7px solid transparent;
//  border-right: 7px solid transparent;
//  border-top: 14px solid #000;
//
//  -webkit-transition: all .27s ease-in-out;
//  -o-transition: all .27s ease-in-out;
//  transition: all .27s ease-in-out;
//
//  -webkit-transform: rotate(0deg);
//  -ms-transform: rotate(0deg);
//  -o-transform: rotate(0deg);
//  transform: rotate(0deg);
//}
//
//.on.select__gap:after {
//  -webkit-transform: rotate(180deg);
//  -ms-transform: rotate(180deg);
//  -o-transform: rotate(180deg);
//  transform: rotate(180deg);
//}
