.accordion {
  color: black;
  padding: 120px 0 120px;
  &-item {
    margin-bottom: 20px;
    &__input {
      position: relative;
      top: 0;
      left: 0;
      display: none;
      &:checked ~ .accordion-item__trigger{}
      &:checked ~ .accordion-item__trigger .accordion-item__content{
        display: block;
      }
    }

    &__trigger {
      display: block;
      padding: 22px 0 44px 70px;
      border: 0.5px solid #B8B8B8;
      font-size: calc(1em + 8px);
      line-height: 28px;
      border-radius: 30px;
      color: $bgColorBlock;
      background-color: #fff;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      margin-bottom: -50px;
      &_last{
        border-radius: 30px;
        padding-bottom: 22px;
      }
    }

    &__content {
      border-top: 0;
      font-size: calc(1em - 2px);
      color: rgba(0, 0, 0, 0.5);
      padding: 20px 0 70px 0;
      display: none;
    }
  }
  &__title{
    text-align: center;
    padding-bottom: 100px;
  }
}