img[src="assets/img/nutrition-program/item-2.png"]{
  width: 97px;
}


.nutrition-program{
  color: $linkPageColor;
  padding-bottom: 97px;
  &__title{
    text-align: center;
  }
  &__content{
    padding-top: 65px;
    text-align: center;
    &_description{
      line-height: 20px;
    }
    &_bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_current-price{
        font-size: calc(2em - 8px);
        font-weight: bold;
      }
      &_old-price{
        text-decoration-line: line-through;
        font-size: calc(1em + 2px);
      }
    }
  }
}
