img[src="assets/img/nutrition-program/item-2.png"]{
  width: 97px;
}


.nutrition-program{
  color: $linkPageColor;
  &__title{
    text-align: center;
  }
  &__content{
    padding-top: 65px;
    text-align: center;
    &_description{
      line-height: 20px;
    }
  }
}
